@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.2/packages/wanted-sans/fonts/webfonts/static/complete/WantedSans.min.css');

* {
  font-family: 'Wanted Sans', sans-serif;
}

.tiptap {
  @apply bg-white;
}

ul,
ol {
  @apply px-6;
}

h1 {
  @apply text-3xl font-semibold my-2 mt-4;
}

h2 {
  @apply text-2xl font-semibold my-2 mt-3;
}

h3 {
  @apply text-xl font-semibold my-2;
}

p {
  @apply text-base py-1;
}

ul > li {
  @apply list-disc m-2;
}
ol > li {
  @apply list-decimal m-2;
}

code {
  @apply bg-gray-100 p-1 rounded text-red-600 text-sm;
}

p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

pre {
  @apply bg-stone-100 m-1 p-10 rounded-lg text-sm;
}

blockquote {
  @apply border-l-4 border-gray-600 my-4 px-4;
}
