@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: background 0.2s;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

.tiptap {
  @apply bg-transparent;
}

ul,
ol {
  @apply px-6;
}

h1 {
  @apply text-3xl mt-5 mb-2 font-semibold dark:text-white;
}

h2 {
  @apply text-2xl font-semibold mt-5 mb-2 dark:text-white;
}

h3 {
  @apply text-xl font-semibold mt-5 mb-2 dark:text-white;
}

p {
  @apply text-base py-1 dark:text-white leading-7;
}

ul > li {
  @apply list-disc m-2 dark:text-white;
}
ol > li {
  @apply list-decimal m-2 dark:text-white;
}

code {
  @apply bg-gray-100 p-1 rounded text-red-600 text-sm dark:bg-neutral-700;
}

p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

pre {
  @apply bg-stone-100 m-1 p-10 rounded-lg text-sm dark:bg-neutral-700 overflow-y-auto;

  code {
    @apply bg-transparent p-0 dark:text-white;
  }
}

blockquote {
  @apply border-l-4 border-gray-600 my-4 px-4;
}
